
.mobileButton {
    display: flex;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
}

@media  (min-width: 768px) {
    .mobileButton {
        display: none;
    }
}

#hamburger {
    color: black;
    display: block;
    border-top: 2px solid;
    width: 28px;
    
}

#hamburger::after{
    content: "";
    display: block;
    width: 28px;
    height: 2px;
    background-color: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

.active::after {
    transform: rotate(-90deg);
    top: -7px;
}   

.active {
    transform: rotate(135deg);
}   
